* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 62.5%;
  max-width: 500px;
  width: 100%;
  /* background-color: #bdb76b; */
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  background-color: #bdb76b;
}

.hidden {
  display: none;
}

#entry-container {
  max-widtH: 30rem;
  background-color: #fff;
  margin-top: 5rem;
  padding: 1rem;
}

#entry__box {
  width: 100%;
  /* background-color: #fff; */
}

#create-room {
  background-color: orange;
  width: 10rem;
}

input {
  max-width: 10rem;
  border: 1px solid orange;
}

#start, td, #result {
  font-size: 1.6rem;
}

#start {
  max-width: 30rem;
  width: 100%;
  background-color: #bd6c71;
  padding: 2rem;
  margin-top: 5rem;
  color: #fff;
  border-radius: 4px;
}

#result {
  background-color: #71bd6c;
  width: 100%;
}

.result__sentence {
  padding: 3rem 0 0;
  font-size: 3rem;
}

.result-who__maru,
.result-who__batsu {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 1rem;
}

.result-who__maru {
  color: #bd6c71;
}

.result-who__batsu {
  color: #6c9abd ;
}

table {
  margin-top: 5rem;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
}

